@{ 
    ViewData["Title"] = "GuardMed";
}
<button onclick="PagSeguroLightbox('38DAA0390C0CECBAA44EDFA10A26C9CA')">Pagar com lightbox</button>
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
