@model int

@inject Services.Client.ClientContactTypeServices clientContactTypeServices
@inject Services.Client.ClientContactServices clientContactServices

<form id="form-client-contact">
    <input type="hidden" name="ClientId" value="@Model" />
    <input type="hidden" name="ClientContactId" />
    <div class="row">
        <div class="col-md-6 mb-2">
            <label class="required text-center">Tipo</label>
            <select class="form-control" name="ClientContactTypeId">
                <option value="">Selecione</option>
                @foreach (var item in await clientContactTypeServices.GetDataAsNoTrackingAsync())
                {
                    <option value="@item.ClientContactTypeId">@item.Name</option>
                }
            </select>
        </div>
        <div class="col-md-6 mb-2">
            <label class="required">Cargo</label>
            <input class="form-control" placeholder="Cargo" name="Role" />
        </div>
        <div class="col-md-12 mb-2">
            <label class="required">Nome</label>
            <input class="form-control" placeholder="Nome" name="Name" />
        </div>
        <div class="col-md-6 mb-2">
            <label class="required">Telefone com ramal</label>
            <input class="form-control" placeholder="Telefone com ramal" name="Phone" />
        </div>
        <div class="col-md-6 mb-2">
            <label>Celular</label>
            <input class="form-control" placeholder="Celular" name="MobilePhone" />
        </div>
        <div class="col-md-8 mb-2">
            <label class="required">E-mail</label>
            <input class="form-control" placeholder="E-mail" name="Email" />
        </div>
        <div class="col-md-4 mb-2">
            <label>Contato Principal?</label>
            <select class="form-control" name="MainContact">
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>
    </div>
</form>