@using Microsoft.AspNetCore.Identity
@inject UserManager<TerraNostraIdentityDbContext.User> userManager
@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var action = this.ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">



    <!-- Bootstrap CSS -->
    <link href="~/assets/theme/Uplon-Responsive-Bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->

    <link href="~/assets/theme/Uplon-Responsive-Bootstrap4/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/jquery.min.js"></script>
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/popper.min.js"></script><!-- Tether for Bootstrap -->
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/bootstrap.min.js"></script>
    <!-- Modernizr js -->
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/modernizr.min.js"></script>
  
</head>


<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        <div class="account-bg">
            <div class="card-box mb-0">
                <div class="text-center m-t-20">
                    <a href="#" class="logo">
                        <img src="~/images/cropped-logo-terra-nostra-black-1024x341.png" width="250" height="80" style="margin-bottom:1em;" />
                    </a>
                </div>
                <div class="m-t-5 p-20">

                    @RenderBody()


                </div>

                <div class="clearfix"></div>
            </div>
        </div>


    </div>



    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->

    <script src="assets/js/detect.js"></script>
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/waves.js"></script>
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/jquery.nicescroll.js"></script>
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/jquery.core.js"></script>
    <script src="~/assets/theme/Uplon-Responsive-Bootstrap4/js/jquery.app.js"></script>

</body>
</html>