@model int?
@{
    ViewData["Title"] = "Gerenciar Famílias de produtos";
}

<div class="card shadow bg-light">
    <div class="card-header"><span>@(Model.HasValue? "Atualização de família" : "Criação de família")</span></div>
    <div class="card-body">
        @(await Component.InvokeAsync<AMaisImob_WEB.ViewComponents.ProductFamily.ProductFamilyManageViewComponent>(Model))
    </div>
    <div class="card-footer">
        <a href="@Url.Action("Index","ProductFamily")" class="btn btn-secondary float-left" style="color:white;"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
        <button type="button" id="_ProductFamilyManageButtonSubmit" class="btn btn-success float-right"><i class="fa fa-cloud-upload-alt"></i>&nbsp;@(Model.HasValue? "Salvar" : "Criar Família")</button>
    </div>
</div>

<script type="text/javascript">
    $('#_ProductFamilyManageButtonSubmit').click(function () {
        if (_ProductFamilyManageValidate()) {
            _ProductFamilyManageSave();
        }
    });

    function _ProductFamilyManageCallBack(data) {
        window.location.href = '@Url.Action("Manage", "ProductFamily")?id=' + data + '&saved=true';
    }
</script>
