@inject Services.Client.ClientReportServices clientReportServices


<label class="custom-control-label" style="visibility:hidden;">pesquisar</label>
<div class="input-group mx-auto" id="input-filter">

<input class="form-control" placeholder="Pesquisar" id="Search" name="Search" />
</div>

<script type="text/javascript" asp-cut-key="">
</script>