<label class="required">Data Inicial e Final</label>
<div class="input-group mx-auto" id="optional-start-and-end-date-input-group-filter">
    <input class="form-control date filter-input" data-filter-name="Data Inicial" data-target="#optional-start-and-end-date-input-group-filter" placeholder="__/__/____" autocomplete="off" name="StartDate" value="@(((DateTime?)ViewBag.StartDate).ToBrazilianDateFormat())" />
    <div class="input-group-addon">
        <i class="simple-icon-calendar"></i>
    </div>
    <input class="form-control date filter-input" data-filter-name="Data Final" data-target="#optional-start-and-end-date-input-group-filter" placeholder="__/__/____" autocomplete="off" name="EndDate" value="@(((DateTime?)ViewBag.EndDate).ToBrazilianDateFormat())" />
</div>

<script type="text/javascript">
    function validateStartAndEndDate() {
        var startDate = moment($('[name="StartDate"]').val(), 'DD/MM/YYYY');
        var endDate = moment($('[name="EndDate"]').val(), 'DD/MM/YYYY');

        if (startDate > endDate) {
            $('#optional-start-and-end-date-input-group-filter').after('<div class="text-danger">A data inicial não pode ser posterior a data final.<div>');
            return false;
        }

        return true;
    }
</script>