<div class="card shadow">
    <div class="card-header">@translationFunctions.GetTranslation("Ações", User.FindFirstValue("CultureInfo"))</div>
    <div class="card-body">
        <div id="kpi2" style="margin: 0 auto; height: 220px; line-height: 220px; text-align: center;"></div>
        <small id="kpi2_Total"></small>
    </div>
</div>

<script type="text/javascript">
    function ShowKPI2(_companyId) {
        $.ajax({
            url: '@Url.Action("GetKPI2", "Home")',
            type: 'GET',
            data: { companyId: _companyId },
            contentType: 'application/json; charset=utf-8',
            success: function (_data) {
                var data = JSON.parse(_data)[0];
                if (data.Total == 0) {
                    $('#kpi2').html('<i>Nenhuma ação associada.</i>');
                    return false;
                }

                $('#kpi2_Total').text('Total: ' + data.Total);

                Highcharts.chart('kpi2', {

                    chart: {
                        type: 'pie'
                    },

                    title: {
                        text: null
                    },

                    credits: {
                        enabled: false
                    },

                    exporting: {
                        enabled: false
                    },

                    yAxis: {
                        min: 0,
                        max: data.Total,
                        lineWidth: 0,
                        tickPositions: []
                    },

                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        x: 0,
                        y: 0
                    },

                    plotOptions: {
                        pie: {
                            shadow: false,
                            center: ['50%', '50%'],
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },

                    series: [
                        {
                            name: 'Ações',
                            size: '100%',
                            innerSize: '60%',
                            data: [{
                                name: '@Html.Raw(translationFunctions.GetTranslation("Concluída", User.FindFirstValue("CultureInfo")))', y: data.Concluida, color: '#9bd220'
                            }, {
                                    name: '@Html.Raw(translationFunctions.GetTranslation("Pendente", User.FindFirstValue("CultureInfo")))', y: data.Pendente, color: '#d44b1d'
                            }]
                        }]
                });
            },
            error: function () {
                alert('Desculpe, houve um erro ao executar a consulta.');
            }
        });
    }
</script>