@if (ViewContext.RouteData.Values["Action"].ToString().Contains("Renew"))
{
    <div class="no-print" style="position: absolute; left: 10px; top: 140px; font-size: 19px; font-weight: bold;">Renovação</div>
    <div class="no-print" style="margin-top: 25px;"></div>
}
<style type="text/css">
    @@media only screen and (max-width: 600px) {

    .row #retangle1 {

        margin-left: 10%;
    }
    .row .rectangle {
        width: 20%;

    }
    #div{
        margin-left: 4%;
    }
}

.rectangle {
    background-color: lightgray;
    width: 17%;
    height: 10px
}

#retangle1 {
    margin-left: 8%;
}

.bigcircle {
    background-color: lightgrey;
}

.smallcircle {
    background: white;
    display: none;
}
</style>

<div class="row no-print">
    <div class="col-sm-12 mx-auto">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="rectangle" id="retangle1"></div>
            <div class="rectangle" id="retangle2"></div>
            <div class="rectangle" id="retangle3" ></div>
            <div class="rectangle" id="retangle4"></div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 col-2" >
                <div class="mx-auto bigcircle" id="circle1" ></div>
                <div class="mx-auto smallcircle" id="smallCircle1"></div>
            </div>
            <div class="col-md-2 col-2"id="div">
                <div class="mx-auto bigcircle" id="circle2" style="background-color: lightgrey;"></div>
                <div class="mx-auto smallcircle" id="smallCircle2" style="background: white; display:none;"></div>
            </div>
            <div class="col-md-2 col-2"id="div">
                <div class="mx-auto bigcircle" id="circle3" style="background-color: lightgrey;"></div>
                <div class="mx-auto smallcircle" id="smallCircle3" style="background: white; display:none;"></div>
            </div>
            <div class="col-md-2 col-2"id="div">
                <div class="mx-auto bigcircle" id="circle4" style="background-color: lightgrey;"></div>
                <div class="mx-auto smallcircle" id="smallCircle4" style="background: white; display:none;"></div>
            </div>
            <div class="col-md-2 col-2"id="div">
                <div class="mx-auto bigcircle" id="circle5" style=" background-color: lightgrey;"></div>
                <div class="mx-auto smallcircle" id="smallCircle5" style=" background: white; display:none;"></div>
            </div>


        </div>
        <div class="row" style="margin-top:1em;">
            <div class="col-md-1"></div>
            <div class="col-md-2 text-center" id="simulacao"><label>Simulação</label></div>
            <div class="col-md-2 text-center" id="planos"><label>Planos</label></div>
            <div class="col-md-2 text-center" id="proposta"><label>Proposta</label></div>
            <div class="col-md-2 text-center" id="pagamento"> <label>Forma de Pagamento</label></div>
            <div class="col-md-2 text-center" id="impressao"> <label>Impressão</label></div>
        </div>
    </div>

</div>
<br />
<script type="text/javascript">

    function highlightCotacao(divId1, divId2) {
        $(divId1).css("background", "rgb(35,76,112)");
        $(divId2).show();

    }
    function highlightRetangle(divId) {
        $(divId).css("background", "#0080bd");
    }
    function shadowCotacao(divId1) {
        $(divId1).addClass('shadow');
    }
    function strongEtapas(divId1) {
        $(divId1).addClass("font-weight-bold");
        $(divId1).css("color", "#40615f");
    }

    @if (ViewContext.RouteData.Values["Action"].ToString() == "Index" || ViewContext.RouteData.Values["Action"].ToString() == "Renew")
    {
    <text>
    highlightCotacao('#circle1', '#smallCircle1');
    shadowCotacao('#circle1');
    strongEtapas('#simulacao')
    </text>
    }

    @if (ViewContext.RouteData.Values["Action"].ToString() == "Cotacao" || ViewContext.RouteData.Values["Action"].ToString() == "QuoteRenew")
    {
    <text>
    highlightCotacao('#circle1');
    highlightRetangle('#retangle1');
    highlightCotacao('#circle2', '#smallCircle2');
    shadowCotacao('#circle2');
    strongEtapas('#planos')
    </text>
    }

    @if (ViewContext.RouteData.Values["Action"].ToString() == "Formulario" || ViewContext.RouteData.Values["Action"].ToString() == "DetailRenew")
    {
    <text>
    highlightCotacao('#circle1');
    highlightRetangle('#retangle1');
    highlightCotacao('#circle2');
    highlightCotacao('#circle3', '#smallCircle3');
    highlightRetangle('#retangle2');
    shadowCotacao('#circle3');
    strongEtapas('#coberturas')
    </text>
    }

    @if (ViewContext.RouteData.Values["Action"].ToString() == "Pagamento" || ViewContext.RouteData.Values["Action"].ToString() == "PaymentRenew")
    {
    <text>
    highlightCotacao('#circle1');
    highlightRetangle('#retangle1');
    highlightCotacao('#circle2');
    highlightCotacao('#circle3');
    highlightRetangle('#retangle2');
    highlightCotacao('#circle4', '#smallCircle4');
    highlightRetangle('#retangle3');
    shadowCotacao('#circle4');
    strongEtapas('#coberturas')
    </text>
    }
</script>