@model AMaisImob_WEB.Models.CertificateContractualViewModel

<div style="font-size: 15px !important; max-width: 750px; margin-left: auto !important; margin-right: auto !important;padding: 15px; border-radius: 5px; background: #e4e4e4;">
    <label>Olá,</label>
    <br />
    <br />
    <label>Uma apólice da garantia contratual <b>@Model.Reference</b> foi inserida e o status alterado para <b>"Emitido"</b>. Em anexo a apólice enviada.</label>
    <br />
    <br />
    <label>Equipe A+Imob.</label>
</div>