<div class="card">
    <div class="card-body text-center">
        <div class="form-group" style="color: black;font-size: 25px !important">
            Sua coleta foi realizada com sucesso!
            <br />
            Em breve entraremos em contato com você.
            <br />
            Se for urgente, entre em contato conosco pelo telefone
            <br />
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=552730290907" target="_blank" class="text-destineja-lg">+ 55 (27) 3029-0907</a>
            <br />
        </div>
        <div class="form-group text-destineja-lg" style="color: black;">
            Muito Obrigado!
        </div>
        <div class="form-group">
            <a class="btn btn-destineja-orange" href="@Url.Action("Index", "Home")">Voltar para a Home</a>
        </div>
    </div>
</div>