<div class="row">
    <div class="col-sm-12 mx-auto">
        <div class="row">
            <div class="rectangle" id="retangle1" style="height: 10px; width:17%; margin-left:16%; background:lightgrey;"></div>
            <div class="rectangle" id="retangle2" style="height: 10px; width:17%; background:lightgrey;"></div>
            <div class="rectangle" id="retangle3" style="height: 10px; width:17%; background-color:lightgrey;"></div>
            <div class="rectangle" id="retangle4" style="height: 10px; width:17%; background-color:lightgrey;"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-1"></div>
            <div class="col-md-2 col-2">
                <div class="mx-auto bigcircle" id="circle1" style="background-color: lightgrey; "></div>
                <div class="mx-auto smallcircle" id="smallCircle1" style="background: white; display:none;"></div>
            </div>
            <div class="col-md-2 col-2">
                <div class="mx-auto bigcircle" id="circle2" style="background-color: lightgrey;"></div>
                <div class="mx-auto smallcircle" id="smallCircle2" style="background: white; display:none;"></div>
            </div>
            <div class="col-md-2 col-2">
                <div class="mx-auto bigcircle" id="circle3" style="background-color: lightgrey;"></div>
            </div>
            <div class="col-md-2 col-2">
                <div class="mx-auto bigcircle shadow" id="circle4" style=" background-color: lightgrey;">
                    <div style="padding-top:25px;">
                        <div class="mx-auto smallcircle" id="smallCircle4" style="background: white; display:none;"></div>
                    </div>
                </div>
                </div>
                <div class="col-md-2 col-2">
                    <div class="mx-auto bigcircle" id="circle5" style=" background-color: lightgrey;"></div>
                    <div class="mx-auto smallcircle" id="smallCircle5" style=" background: white; display:none;"></div>
                </div>
            </div>
        <div class="row" style="margin-top:1em;">
            <div class="col-md-1"></div>
            <div class="col-md-2 text-center"><label>Simulação</label></div>
            <div class="col-md-2 text-center"><label>Escolha seu Plano</label></div>
            <div class="col-md-2 text-center"><label>Proposta</label></div>
            <div class="col-md-2 text-center"> <strong style="color:#40615f">Forma de Pagamento</strong></div>
            <div class="col-md-2 text-center"> <label>Impressão</label></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#circle1').css("background", "rgb(35,76,112)");
    $('#circle2').css("background", "rgb(35,76,112)");
    $('#circle3').css("background", "rgb(35,76,112)");
    $('#circle4').css("background", "rgb(35,76,112)");
    $('#retangle1').css("background", "#0080bd");
    $('#retangle2').css("background", "#0080bd");
    $('#retangle3').css("background", "#0080bd");
    $('#smallCircle4').show();
</script>