@model DTO.Client.ClientViewModel

<div style="max-width: 500px; margin-left: auto; margin-right: auto; padding: 15px; border: 1px solid #bbbbbb; background-color: #f1f1f152;">
    <div style="width:100%; text-align: center; margin-bottom: 3em;">
        <img style="width:400px;" src="cid:Logo" />
    </div>
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">Prezado cliente,</label>
        <br />
        <label style="font-size: 14px;">@Model.Name</label>
    </div>
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">Sua avaliação é a nossa melhor forma de nos ajudar a melhorar.</label>
    </div>
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">Você tem 45 segundos para nos avaliar?</label>
        <br />
        <label style="font-size: 14px;">É só clicar no botão abaixo e responder algumas perguntinhas e nos ajudar a entender como foi a sua experiência conosco:</label>
        <br />
    </div>
    <div style="text-align: center;margin-top: 50px;margin-bottom: 50px;">
        <a href="https://forms.gle/GZdL7FGk9u9XrzYdA" style="color: white; background: #04ab9f; text-decoration: none; padding: 15px; border-radius: 7px;">Questionário</a>
    </div>
    <div style="font-size: 14px;">
        Atenciosamente,
        <br />
        Equipe Destine Já.
    </div>
</div>