@model DTO.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}
<div class="row">
    <div style="width: 500px; margin: 0 auto;">
        <div class="card auth-card">
            <div class="form-side text-center" style="width: 100% !important;">
                <h1 class="mb-4">Portal do Aluno<br /><small>Login</small></h1>
                <form method="post" action="@Url.Action("Login", "Account")">
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
                    }
                    <label class="form-group has-float-label mb-4">
                        <input class="form-control" name="Email" id="Email" value="@Model.Email">
                        <span>E-mail</span>
                    </label>
                    <label class="form-group has-float-label mb-4">
                        <input class="form-control" name="Password" id="Password" type="password" value="@Model.Password">
                        <span>Senha</span>
                    </label>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-primary btn-lg btn-shadow btn-block" type="submit">Fazer Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
