@model AMaisImob_WEB.Models.CertificateContractualViewModel

<div style="font-size: 15px !important; max-width: 750px; margin-left: auto !important; margin-right: auto !important;padding: 15px; border-radius: 5px; background: #e4e4e4;">
    <label>Olá,</label>
    <br />
    <br />
    <label>Os arquivos de pendência da garantia contratual <b>@Model.Reference</b> foram enviados e estão em anexo.</label>
    <br />
    <br />
    <label>Equipe A+Imob.</label>
</div>