@inject DAL.GLAS2Context context

@{ var guid = "_" + Guid.NewGuid().ToString("N");

	int companyLawId = -1;
	bool canDelete = false;

	if (ViewData.ContainsKey("companyLawId"))
	{
		int.TryParse(ViewData["companyLawId"].ToString(), out companyLawId);
	}

	if (ViewData.ContainsKey("canDelete"))
	{
		bool.TryParse(ViewData["canDelete"].ToString(), out canDelete);
	}

	bool companyLawIsCompleted = false;

	if (companyLawId != -1)
	{
		var companyLawFunctions = new BLL.Company.CompanyLawFunctions(context);
		companyLawIsCompleted = companyLawFunctions.CompanyLawIsCompleted(companyLawId);
	}
}
<div id="@guid">
	<div id="@Html.Raw(guid + "_commentsContainer")">
		<i>Nenhum comentário encontrado.</i>
	</div>
	<script type="text/javascript">
        function _CompanyLawCommentsDoneTyping(companyLawId) {
            var formData = new FormData();
            formData.append('companyLawId', companyLawId);
            $.ajax({
                url: '@Url.Action("List", "CompanyLawCommentManagement")',
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (d) {
					if (d.data.length == 0) {
						_CompanyLawCommentsClearSearch();
						return;
					}
                    $('#@Html.Raw(guid + "_commentsContainer")').empty();
					$.each(d.data, function (i, e) {
						$('#@Html.Raw(guid + "_commentsContainer")').append('<div class="card p-3 list-group-item list-group-item-action flex-column" style= "margin-bottom: 5px;" ><div class="d-flex w-100 justify-content-between" >' + e.Text + '@if(!companyLawIsCompleted && canDelete){<text><small><a href="javascript:void(0)" onclick="RemoveCompanyLawCommentFromCompanyLaw(' + e.CompanyLawCommentId + ',' + e.CompanyLawId + ')">Excluir</a></small></text>}</div><footer class="blockquote-footer">' + e.Name + ' em ' + e.CreatedDate + '</footer></div >');
					});
                }
            });
        }
        function _CompanyLawCommentsClearSearch() {
            $('#@Html.Raw(guid + "_commentsContainer")').empty();
            $('#@Html.Raw(guid + "_commentsContainer")').append('<i>Nenhum comentário encontrado.</i>');
		}

		function RemoveCompanyLawCommentFromCompanyLaw(_companyLawCommentId, _companyLawId) {
			if (confirm('Deseja realmente remover esse comentário?')) {
				_RemoveCompanyLawCommentFromCompanyLaw(_companyLawCommentId, function () {
					_CompanyLawCommentsDoneTyping(_companyLawId);
					alert('Comentário removido com sucesso!');
				});
			}
		}
		function _RemoveCompanyLawCommentFromCompanyLaw(_companyLawCommentId, callback) {
			var d = { companyLawCommentId: _companyLawCommentId };
			$.ajax({
				url: '@Url.Action("RemoveCompanyLawComment", "CompanyLawCommentManagement")',
				type: 'POST',
				data: d,
				dataType: 'json',
				success: callback
			});
		}

	</script>
</div>