
@{
    ViewData["Title"] = "Variáveis do Sistema";
   
}
<div id="_SystemVariableIndexViewComponent"></div>

<script type="text/javascript">
    $('#_SystemVariableIndexViewComponent').load('@Url.Action("SystemVariableIndexViewComponent", "SystemVariable")');
</script>