@model string
<div class="row">
    <div class="col">
        <div class="form-group">
            <label class="control-label">Observações</label>
            <textarea class="form-control" name="GeneralComments" rows="10">@Model</textarea>
        </div>
    </div>
</div>