@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<h1 style="text-align:center">Certificados Entregues</h1>
<div class="card" style="height:747px; width:100%">
    <div class="card-body">
        <table border="1" cellpadding="0" cellspacing="0" width="80%" height="1%" style="border-collapse: collapse; margin:auto">
            <tbody>
                <tr>
                    <td colspan="4" style="text-align:center">Nome do Aluno</td>
                    <td colspan="4" style="text-align:center">Entregue</td>
                    <td colspan="4" style="text-align:center">Data de Entrega</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="4" width="33%">&nbsp;</td>
                    <td colspan="4" width="33%">&nbsp;</td>
                    <td colspan="4" width="33%">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
