@{
    Layout = null;
}

<h1 style="text-align:center">Documentação Profissional</h1>
<div class="card" style="height:747px; width:100%">
    <div class="card-body">
        <table border="1" cellpadding="0" cellspacing="2" width="80%" height="1%" style="border-collapse: collapse; margin:auto">
            <tbody>
                <tr>
                    <td rowspan="2" style="text-align:left; width:400px">Nome do Aluno</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 1</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 2</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 3</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 4</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 5</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 6</td>
                    <td colspan="2" style="text-align:center; width:110px;" valign="middle">Módulo 7</td>
                </tr>
                <tr>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                    <td style="text-align:center" valign="middle">Sábado</td>
                    <td style="text-align:center" valign="middle">Domingo</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Falta</td>
                    <td style="text-align:center" valign="middle">Abono</td>
                    <td style="text-align:center" valign="middle">Reposição</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Falta</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Falta</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Falta</td>
                    <td style="text-align:center" valign="middle">Presença</td>
                    <td style="text-align:center" valign="middle">Falta</td>
                    <td style="text-align:center" valign="middle">Abono</td>
                </tr>
            </tbody>
            
        </table>
    </div>


</div>

