
@{
    ViewData["Title"] = "Conclusão";
}

<h2 class="amaisvet-green text-center">Conclusão</h2>
<div style="text-align:center;">
    <div class="form-control">
        <h3 class="text-success"><strong>Parabéns!</strong></h3>
        <hr />
        <label> Agora o seu equipamento possui seguro da A Mais Vet.</label>
    </div>
</div>