@{
    ViewData["Title"] = "Serviços";
   
}
<div id="_ServiceTypeIndexViewComponent"></div>

<script type="text/javascript">
    $('#_ServiceTypeIndexViewComponent').load('@Url.Action("ServiceTypeIndexComponent", "ServiceType")');
</script>