@model int?
@{
    if (Model.HasValue)
    {
        ViewData["Title"] = "Atualização de Serviços";
    }
    else
    {
        ViewData["Title"] = "Criação de Serviços";
    }

}

@if (!string.IsNullOrWhiteSpace(Context.Request.Query["saved"]))
{
    <text>
        <div id="_ServiceTypeManageAlertSuccess" class="alert alert-success fade show text-center">
            <b>Os dados foram salvos com sucesso!</b>
        </div>
        <script type="text/javascript">
            $('#_ServiceTypeManageAlertSuccess').fadeOut(5000);
        </script>
    </text>
}
<div id="ServiceTypeViewComponent"></div>
<div class="row">
    <div class="col-12">
        <hr />
        <a href="@Url.Action("Index","ServiceType")" class="btn btn-secondary float-left" style="color:white;"><i class="simple-icon-action-undo"></i>&nbsp;Voltar</a>
        <button type="button" id="_ServiceTypeManageButtonSubmit" class="btn btn-success float-right"><i class="simple-icon-cloud-upload"></i>&nbsp;Criar Serviço</button>

    </div>
</div>


<script type="text/javascript">
    $('#ServiceTypeViewComponent').load('@Url.Action("ServiceTypeManageComponent", "ServiceType")', { "id": @if (Model.HasValue) { @Model } else { <text>null</text> } });

    $('#_ServiceTypeManageButtonSubmit').click(function () {
        if (_ServiceTypeManageValidate()) {
            _ServiceTypeManageSave();
        }
    });
</script>
@if (Model.HasValue)
{
    <text>
        <script type="text/javascript">
            $('#_ServiceTypeManageButtonSubmit').text("Salvar");
            $('#_ServiceTypeManageCardHeaderTitle').text('Atualizar Serviço');
        </script>
    </text>
}
<script type="text/javascript">
    function _ServiceTypeManageCallBack(data) {
        window.location.href = '@Url.Action("Index", "ServiceType")?id=' + data + '&saved=true';
    }
</script>
