<div class="row">
    <div class="col text-center">
        <label style="font-size:55px;">Bem vindo!</label>
    </div>
</div>

<div class="row" style="margin-top: -5em;">
    <div class="col text-center">
        <img src="~/Imagens/logo2.png" class="logo-home" />
    </div>
</div>