

@{
    Layout = "";
}

<form>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="NumeroDaApolice" class="col-form-label">Número da Apólice:</label>

                <input type="text" class="form-control" id="NumeroDaApolice">

            </div>
        </div>
    </div>
</form>