<div class="form-group">
    <label class="control-label"># @translationFunctions.GetTranslation("Ação", User.FindFirstValue("CultureInfo"))</label>
    <input type="text" class="form-control ReportParameter" data-hidden-parameter="CompanyLawActionId" />
</div>