<div class="form-group">
    <label class="control-label">@translationFunctions.GetTranslation("Data de Renovação da Ação", User.FindFirstValue("CultureInfo"))</label>
    <div class="input-group">
        <input type="text" class="form-control date ReportParameter" data-hidden-parameter="CompanyLawActionRenewDate_START" />
        <div class="input-group-append">
            <span class="input-group-text">&nbsp;@translationFunctions.GetTranslation("até", User.FindFirstValue("CultureInfo"))&nbsp;</span>
        </div>
        <input type="text" class="form-control date ReportParameter" data-hidden-parameter="CompanyLawActionRenewDate_END" />
    </div>
</div>