<div class="form-group">
    <label class="control-label" for="LawSegmentoId">@translationFunctions.GetTranslation("Data de Vigor do Requisito Legal", User.FindFirstValue("CultureInfo"))</label>
    <div class="input-group">
        <input type="text" class="form-control date ReportParameter" data-hidden-parameter="LawForceDate_START" />
        <div class="input-group-append">
            <span class="input-group-text">&nbsp;@translationFunctions.GetTranslation("até", User.FindFirstValue("CultureInfo"))&nbsp;</span>
        </div>
        <input type="text" class="form-control date ReportParameter" data-hidden-parameter="LawForceDate_END" />
    </div>
</div>