<div class="form-group">
    <label class="control-label">@translationFunctions.GetTranslation("Número do Requisito Legal", User.FindFirstValue("CultureInfo"))</label>
    <input type="text" class="form-control ReportParameter" data-hidden-parameter="LawNumber" />
</div>