@{
    var orgaos = (ViewData["Orgaos"] as List<DAL.Orgao>);
}
<div class="form-group">
    <label class="control-label" for="LawOrgaoId">@translationFunctions.GetTranslation("Órgão do Requisito Legal", User.FindFirstValue("CultureInfo"))</label>
    <select multiple="multiple" class="form-control ReportParameter" style="width: 100%;" data-hidden-parameter="LawOrgaoId">
        @if (orgaos != null)
        {
            @foreach (var item in orgaos)
            {
                <option value="@item.OrgaoId">@translationFunctions.GetTranslation(item.Name, User.FindFirstValue("CultureInfo"))</option>
            }
        }
    </select>
</div>