@model int

@inject Services.Residue.ResidueFamilyServices residueFamilyServices

<style type="text/css">
    .select2-container {
        z-index: 10000;
    }
</style>

<form id="form-transporter-environmental-documentation">
    <input type="hidden" name="TransporterId" value="@Model" />

    <input type="hidden" name="TransporterEnvironmentalDocumentationId" />
    <div class="row">
        <div class="col-md-12 form-group">
            <label class="required">Nome do Documento</label>
            <input class="form-control" placeholder="Nome do Documento" name="Name" />
        </div>
        <div class="col-md-12 form-group">
            <label class="required">Nome ou Atividade</label>
            <input class="form-control" placeholder="Nome ou Atividade" name="ActivityName" />
        </div>
        <div class="col-md-6 form-group">
            <label class="required">Órgão Emissor</label>
            <input class="form-control" placeholder="Órgão Emissor" name="Issuer" />
        </div>
        <div class="col-md-6 form-group">
            <label>Data de Emissão</label>
            <input class="form-control date" placeholder="Data de Emissão" name="_IssuerDate" />
        </div>
        <div class="col-md-6 form-group">
            <label class="required">Data de Vencimento</label>
            <input class="form-control date" placeholder="Data de Vencimento" name="_DueDate" />
        </div>
        <div class="col-md-6 form-group">
            <label class="required">Dias para o Vencimento</label>
            <input class="form-control number" placeholder="Dias para o Vencimento" id="daysForDueDate" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="required">Notificar o vencimento em quantos dias</label>
            <input class="form-control" name="DaysToNotify" placeholder="Notificar o vencimento em quantos dias" />
        </div>
        <div class="col-md-6 form-group">
            <label class="required">E-mail para notificar (Separar os e-mails por <b>;</b>)</label>
            <input class="form-control" name="Email" placeholder="E-mail" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="required">Este é o documento de licença?</label>
            <select class="form-control" name="IsRSSFile">
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>
        <div class="col-md-6 form-group" style="display: none;" id="transporter-environmental-documentation-license-area">
            <label>Licença</label>
            <input class="form-control" name="License" placeholder="Licença" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group" style="display: none;" id="transporter-environmental-documentation-family-area">
            <label>Família</label>
            <select class="form-control w-100" name="LicenseResidueFamilyIds" multiple>
                @foreach (var item in await residueFamilyServices.GetDataAsNoTrackingAsync(x => !x.IsDeleted))
                {
                    <option value="@item.ResidueFamilyId">@item.Name</option>
                }
            </select>
            <div id="transporter-environmental-documentation-family-error-area"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label class="control-label">Upload</label>
            <input class="form-control" type="file" name="Archive">
        </div>
    </div>
</form>


<script asp-cut-key="transporter-environmental-documentation-manage">
    $('#form-transporter-environmental-documentation input[name=\'_DueDate\'], #daysForDueDate').on('change', function () {

        if ($(this).is($('#form-transporter-environmental-documentation input[name=\'_DueDate\']'))) {
            if (isNullOrWhiteSpace($('#form-transporter-environmental-documentation input[name=\'_DueDate\']').val())) {
                $('#daysForDueDate').val('');
                return;
            }

            var r = getDaysToDueDate(moment($('#form-transporter-environmental-documentation input[name=\'_DueDate\']').val(), 'DD/MM/YYYY')._d, true);
            if (r == null) {
                $(this).val('');
                $('#daysForDueDate').val('');
            }

            $('#daysForDueDate').val(parseInt(r));
        }
        else {
            var now = new Date();
            now.setHours(0, 0, 0, 0);

            $('#form-transporter-environmental-documentation input[name=\'_DueDate\']').val(moment(now).add($(this).val(), 'days').format('DD/MM/YYYY'));
        }
    });

    function getDaysToDueDate(dueDate, validate) {
        if (isNaN(dueDate.getTime())) {
            return 0;
        }

        var now = new Date();
        now.setHours(0, 0, 0, 0);

        //if (validate && dueDate < now) {
        //    bootbox.alert("A data de vencimento deve ser posterior ao dia de hoje.");
        //    return 0;
        //}

        var difference_In_Time = dueDate.getTime() - now.getTime();

        return difference_In_Time / (1000 * 3600 * 24);
    }

    $('#form-transporter-environmental-documentation [name="IsRSSFile"]').change(function () {
        if ($(this).val() == 'false') {
            $('#transporter-environmental-documentation-license-area').hide();
            $('#transporter-environmental-documentation-family-area').hide();

            $('#form-transporter-environmental-documentation [name=\'License\']').val('');
            $('#form-transporter-environmental-documentation [name=\'LicenseResidueFamilyIds\']').val([]).trigger("change");
        } else {
            $('#transporter-environmental-documentation-license-area').show();
            $('#transporter-environmental-documentation-family-area').show();
            $("#form-transporter-environmental-documentation [name=\"LicenseResidueFamilyIds\"]").select2({ width: 'resolve' });
        }
    });

    $('#form-transporter-environmental-documentation [name="LicenseResidueFamilyIds"]').select2({
        theme: "bootstrap",
        placeholder: "Selecione",
        allowClear: true,
        "language": {
            "noResults": function () {
                return "Nenhum resultado encontrado.";
            }
        }
    });
</script>