
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 30px;">
    <div class="card shadow mx-auto">
        <div class="card-body">
            <div class="col-md-12 text-center">
                <i class="fa fa-ban" style="font-size: 5em; color: red"></i>
                <hr />
                <h5>Ops! Você não tem acesso a essa página.<br /><small><a href="javascript:history.back()"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a></small></h5>
            </div>
        </div>
    </div>
</div>


