@model int
@{
    ViewData["Title"] = "Alocação de Usuários";
}


<div class="card shadow bg-light">
    <div class="card-header"><span id="_UserCompanyManageCardHeaderTitle">Associação de Usuários</span></div>
    <div class="card-body">
        <div id="CompanyManageViewComponent"></div>
    </div>
    <div class="card-footer">
        <a href="@Url.Action("Index","UserCompany")" class="btn btn-secondary float-left"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
        <button type="button" id="buttonSubmit" class="btn btn-success float-right"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Salvar</button>
        <script type="text/javascript">
            $('#buttonSubmit').click(function () {
                _UserCompanyManageSave();
            });
        </script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#CompanyManageViewComponent').load('@Url.Action("UserCompanyManageComponent", "UserCompany")', { "companyId": @Model });
    });

    function _UserCompanyManageCallBack(data) {
        if (data != null) {
            window.location.href = '@Url.Action("Manage","UserCompany")?companyId=' + data + '&saved=true';
        }
    }
</script>