@{
    ViewData["Title"] = "DocuSign";
}

<div class="p-3 mb-2" style="background: #5f7f7a; color: white;">
    <b>Regulamento de uso da ferramenta DocuSign:</b>
    <br /><br />
    <p>
        <u>Imobiliária Classic</u> tem acesso à plataforma DocuSign de forma gratuita, sem mensalidade e paga apenas R$ 14,90 por envelope/contrato utilizado na DocuSign.
        <br />
        A cobrança é feita mensalmente junto com a fatura AmaisImob.
    </p>
    <p>
        <u>Imobiliárias Vip</u> tem acesso à plataforma DocuSign de forma gratuita, sem mensalidade e pode realizar o envio de até 10 contratos mensais sem nenhuma cobrança. A partir do 11º contrato será cobrado R$ 5,90 por envelope/contrato enviado.
        <br />
        A cobrança é feita mensalmente junto com a fatura AmaisImob, sendo discriminada as utilizações acima de 10 envelopes.
    </p>
    <p>
        A A+imob tem acesso apenas ao total de utilizações, não tendo acesso aos contratos, sendo assim o controle analítico deverá ser feito no portal DocuSign em ambiente logado da imobiliária.
    </p>
</div>
<div class="row">
    <div class="col text-right">
        <a href="https://account.docusign.com" style="float: right;" target="_blank" class="btn btn-primary"><i class="fa fa-external-link-alt"></i>&nbsp;Acessar DocuSign</a>
    </div>
</div>
<hr />
@(await Component.InvokeAsync<AMaisImob_WEB.ViewComponents.DocuSign.IndexFilterViewComponent>())
<div id="docu-sign-list-view-component" class="mt-3">
    @(await Component.InvokeAsync<AMaisImob_WEB.ViewComponents.DocuSign.ListViewComponent>(new { referenceDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1) }))
</div>

@section Scripts{
    <script asp-paste-key="docusign-index-filter"></script>
    <script asp-paste-key="docusign-index-list"></script>
    <script type="text/javascript">
    function reloadDocuSignList(filter) {
        $('#docu-sign-list-view-component').load('@Url.Action("LoadListViewComponent", "DocuSign")', filter);
    }
    </script>
}