@model GuardMedWeb.Models.SeguradoProfissionalViewModel

<div style="max-width: 500px; margin-left: auto; margin-right: auto; padding: 15px; border: 1px solid #bbbbbb; background-color: #f1f1f152;">
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">Olá Dr.(a) <b>@Model.Nome</b>.</label>
    </div>
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">Seu certificado individual de seguro foi gerado e sua renovação concluída com sucesso.</label>
        <br />
        <label style="font-size: 14px;">Lembramos que toda sua documentação para consulta e download permanece na área de cliente em nosso <a href="@GuardMedWeb.Configuration.InsuranceConfiguration.ClientWebsite">portal</a>.</label>
        <br />
        <label style="font-size: 14px;">Conte sempre conosco!</label>
    </div>
    <div style="margin-bottom: 2em;">
        <label style="font-size: 14px;">GuardMed: Plataforma de Proteção Profissional.</label>
        <br />
        <label style="font-size: 14px;">Inovando e protegendo</label>
    </div>
    <hr />
    <div>
        <label style="font-size: 14px;">Precisa de Ajuda? Entre em contato com a nossa equipe. <a href="mailto:contato@guardmed.com.br">contato@guardmed.com.br</a> | WhatsApp <a href="https://api.whatsapp.com/send?phone=5511995663535">(11) 99566-3535</a>. Horário de funcionamento: 9h às 18h de segunda a sexta-feira.</label>
    </div>
</div>