@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Não autorizado!";
}


<div class="row">
    <div class="col-md-12">
        <div class="mb-2">
            <h2>
                Não autorizado!
            </h2>
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-12 text-center">
                        <span class="fa-stack fa-5x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-user-times fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Parece que você não tem permissão para acessar o recurso.<br /><small>Entre em contato com o suporte caso acredite que esteja aqui por um engano.</small></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Voltar</a>
    </div>
</div>