@{
    Layout = null;
}
<div class="row mt-lg-5 mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("Index", "Home")" class="btn btn-block btn-secondary">
            Nova Assinatura
        </a>
    </div>
</div>
<div class="row mb-lg-5">
    <div class=" col-12">
        <a href="@Url.Action("FundClient", "Salesman")" class="btn btn-block btn-success">
            Captação de Clientes
        </a>
    </div>
</div>