@{
  
    ViewData["Title"] = "Árvores de Orçamento";
}
<div id="_FreezedFamilyIndexViewComponent"></div>

<script type="text/javascript">
    $('#_FreezedFamilyIndexViewComponent').load('@Url.Action("FreezedFamilyIndexComponent", "FreezedFamily")');
</script>