@{
    ViewData["Title"] = "Esqueci minha Senha";
    Layout = "~/Views/Shared/_LayoutClientLogin.cshtml";
}

<a href="http://www.destineja.com.br/" target="_blank" class="btn btn-destineja-orange client-login-more-info-button">Saiba Mais</a>

<div id="container-client-login">
    <div class="arrow"></div>
    <form method="post" action="@Url.Action("PasswordRecovery", "Account")" autocomplete="off">
        @if (Context.Request.Query.ContainsKey("notfound"))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>E-mail não cadastrado.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (Context.Request.Query.ContainsKey("error"))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>Houve um erro ao enviar a recuperação de senha.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (Context.Request.Query.ContainsKey("emailsent"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>Um e-mail de recuperação foi enviado, por favor, verifique sua caixa de entrada.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="form-group text-center mb-3">
            <h3 class="control-label" style=" font-weight: 300; color: black;">Recuperar Senha</h3>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend input-group-icon">
                    <i class="fa fa-user"></i>
                </div>
                <input class="form-control input-group-input" name="Email" id="Email" placeholder="E-mail">
            </div>
        </div>
        <div class="row mg-t-30">
            <div class="col">
                <a class="btn btn-secondary" href="@Url.Action("Login", "Account")"><i class="simple-icon-arrow-left"></i> Voltar</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-destineja-orange float-right"><i class="simple-icon-envelope"></i> Recuperar</button>
            </div>
        </div>
    </form>
</div>