@{
    ViewData["Title"] = "Processos";
    Layout = "~/Views/Shared/_LayoutUplon.cshtml";
}
<div id="_ActiveJobsViewComponent"></div>

<script type="text/javascript">
    $('#_ActiveJobsViewComponent').load('@Url.Action("ActiveJobsViewComponent", "Workbench")');
</script>