@*@{
        ViewData["Title"] = "Jurídico";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Os clientes <b>GUARDMED</b> possuem inclusos em seu programa os serviços de <b>BLINDAGEM JURÍDICA</b> e <b>PREVENTIVE/ADVISOR</b>, tais modalidades tem o objetivo de auxiliar o cliente tanto no que diz respeito a advocacia preventiva quanto em caso de notificação formal e/ou processo judicial e administrativo.</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <a href="@Url.Action("PreventiveAdvisor", "Home")" class="btn btn-primary"><i class="fas fa-location-arrow"></i> Preventive/Advisor</a>
                    <a href="@Url.Action("LegalArmor", "Home")" class="btn btn-primary"><i class="fas fa-shield-alt"></i> Blindagem Jurídica</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <hr />
                    <b style="font-size: 17px; margin-bottom: .7em; display: inline-block;">Contatos jurídico:</b><br/>
                    <label><b>Jurídico</b>: (11) 5525-2380</label><br />
                    <label><b>Adm</b>: (11) 3253-2284</label><br />
                    <label><a href="mailto:juridico@guardmed.com.br">juridico@guardmed.com.br</a></label><br />
                    <label><a href="mailto:luizfilipe@lcolivan.adv.br">luizfilipe@lcolivan.adv.br</a></label><br />
                    <label>Escritório responsável: <a href="www.lcolivan.adv.br">www.lcolivan.adv.br</a></label>
                </div>
            </div>

        </div>
    </div>*@

@{
    ViewData["Title"] = "Blindagem Jurídica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    ul {
        list-style: none;
        padding-left: .7em;
    }

    #card-boy-questions li span {
        margin-left: 25px;
    }
</style>
<div class="card card-dark-theme">
    <div class="card-header" id="headingOne">
        <h5 class="m-0">
            <span class="p-0"><i class="fas fa-shield-alt"></i> Geral</span>
        </h5>
    </div>
    <div class="card-body" style="background: linear-gradient(to bottom, #dedede, transparent);">
        <div class="row">
            <div class="col">
                <ul>
                    <li><i class="fas fa-angle-right"></i>&nbsp;Estão inclusas mediação e conciliação, defesas judicial e administrativa em caso de processo judicial ou perante aos Conselhos de medicina.</li>
                    <li><i class="fas fa-angle-right"></i>&nbsp;Caso seja utilizado o serviço GUARDMED de blindagem jurídica o cliente não terá descontado no seu limite de cobertura os honorários advocatícios, pois o serviço já integra nosso Programa de Proteção Profissional sem qualquer custo adicional.</li>
                    <li><i class="fas fa-angle-right"></i>&nbsp;O serviço é opcional, ou seja, o cliente poderá utilizar a blindagem jurídica <b>GUARDMED</b> ou não, no entanto caso ele opte por utilizar serviços de terceiros, o valor dos honorários serão descontados do limite geral de cobertura da sua apólice.</li>
                    <li><i class="fas fa-angle-right"></i>&nbsp;Visando facilitar e beneficiar nossos clientes, além da blindagem jurídica <b>GUARDMED</b>, dispomos também de uma rede de escritórios parceiros que oferecem seus serviços por um valor sugerido de até três vezes a tabela da OAB regional.</li>
                    <li><i class="fas fa-angle-right"></i>&nbsp;Dessa forma é possível ter um serviço de qualidade além de provisionar os valores do limite individual de cobertura.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header text-white bg-info" id="headingTwo">
        <h5 class="m-0">
            <span class="p-0"><i class="fas fa-question-circle"></i> Dúvidas</span>
        </h5>
    </div>
    <div class="card-body" id="card-boy-questions" style="background: linear-gradient(to bottom, #d7f1f9, transparent 30%);">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <b>A) Caso eu utilize o serviço de blindagem jurídica da GUARDMED vou precisar pagar honorários advocatícios?</b><br />
                        <span><b>R.</b> Não, o serviço está incluso no Programa de proteção profissional da <b>GUARDMED</b>.</span><br /><br />
                    </li>
                    <li>
                        <b>B) Caso eu utilize o serviço de blindagem jurídica da GUARDMED o valor correspondente aos honorários advocatícios serão descontados do meu limite de cobertura individual contratado?</b><br />
                        <span><b>R.</b> Não, esse serviço só será descontado caso você faça a opção de contratação de um escritório de advocacia de sua preferência.</span><br /><br />
                    </li>
                    <li>
                        <b>C) Caso eu utilize os escritórios parceiros GUARDMED vou ter que pagar honorários advocatícios?</b><br />
                        <span><b>R.</b> Nossa apólice de seguros fornecida pela <b>FATOR SEGURADORA</b> abrange o pagamento dos honorários advocatícios referentes aos serviços realizados a partir da notificação formal recebida pelo médico.</span><br /><br />
                    </li>
                    <li>
                        <b>D) Sou obrigado a utiliar o serviço de blindagem jurídica ou os escritórios parceiros GUARDMED?</b><br />
                        <span><b>R.</b> Não, tanto o serviço de blindagem jurídica quanto a contratação dos escritórios parceiros são totalmente opcionais. Você tem total liberdade de contratação.</span><br /><br />
                    </li>
                    <li>
                        <b>E) Tenho um escritório de confiança na minha cidade, posso indicá-lo para ser parceiro GUARDMED?</b><br />
                        <span><b>R.</b> Sim, uma vez que o escritório passe a ser parceiro <b>GUARDMED</b> ele constará na nossa lista de indicações separadas por região.</span><br /><br />
                    </li>
                    <li>
                        <b>F) Escritórios parceiro seguem algum tipo de tabela de honorários?</b><br />
                        <span><b>R.</b> Todos os escritórios parceiros tem liberdade na precificação dos seus serviços, no entanto a <b>GUARDMED</b> fornece uma tabela sugestiva de valores, tendo como teto 03 (três) vezes a tabela da OAB regional atualizada.</span><br /><br />
                    </li>
                    <li>
                        <b>G) Caso eu escolha um escritório que não seja parceiro GUARDMED  terei cobertura dos honorários advocatícios?</b><br />
                        <span><b>R.</b> Sim, nossa apólice de seguros abrange os honorários advocatícios, contudo será abatido do valor do limite máximo de cobertura individual contratada.</span>
                    </li>
                </ul>
                <hr />
                <small><i>Observação: toda a liberação de recursos que envolvam a cobertura contratada, serão submetidas à aprovação da Seguradora.</i></small>
            </div>
        </div>
    </div>
</div>