
.lightRed, .lightRed td {
    background-color: #fbc8c8 !important;
}

.lightYellow, .lightYellow td {
    background-color: #fffbcf !important;
}

.lightGreen, .lightGreen td {
    background-color: #e1ffce !important;
}

.legend div {
    height: 30px;
    width: 30px;
    border: 1px solid #a1a1a1;
    display: inline-flex;
    border-radius: 5px;
}

.legend label {
    transform: translateY(-50%);
    font-weight: bold;
    margin-left: 10px;
}

.legend {
    padding-top: 32px;
    white-space: nowrap;
}

#row-total label {
    cursor: pointer;
}

.select2.select2-container, .select2-selection {
    min-width: 140px;
    min-height: 40px !important;
    width: auto !important;
}


@media (max-height: 750px) {
    .legend {
        padding-top: 5px;
        white-space: nowrap;
        padding-left: 0;
    }
}