.form-control, .form-control:focus {
    border: 0;
    background: #ececec;
    font-size: 16px;
}

.singup-button {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    color: #636363;
    cursor: pointer;
}