@model DTO.Service.ServiceViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row bg-white">
    <div class="col text-center">
        <img src="~/Imagens/logo2.png" width="500" class="mb-4" />
        <div class="row">
            <div class="col">
                @if (Context.Request.Query.ContainsKey("accepted"))
                {
                    if (!Context.Request.Query.ContainsKey("acceptedBy"))
                    {
                        <i style="font-size: 100px;" class="simple-icon-check text-success"></i>
                        <br />
                        <i style="font-size:30px;" class="text-success">Os termos foram aceitos com sucesso!</i>
                    }
                    else
                    {
                        var acceptedBy = Context.Request.Query["acceptedBy"];

                        <i style="font-size: 100px;" class="simple-icon-check text-success"></i>
                        <br />
                        <i style="font-size:30px;" class="text-success">Os termos desta Ordem de Serviço já foram aceitos por <b>@acceptedBy</b>.</i>
                    }
                }
                else if (Model == null)
                {
                    <i style="font-size: 100px;" class="simple-icon-exclamation text-danger"></i>
                    <br />
                    <i style="font-size:30px" class="text-danger">Esta página está expirada.</i>
                }
                else
                {
                    @if (Context.Request.Query.ContainsKey("unvalidated"))
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Houve um problema.</strong> Você não tem permissão para aceitar este serviço, verifique os dados informados e tente novamente.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <form id="service-accept-term-form" action="@Url.Action("AcceptTerm", "Service")" method="post">
                        <input type="hidden" name="ServiceId" value="@Model.ServiceId" />
                        <div class="form-group">
                            <h4 style="font-weight:bold;">Insira os seus dados abaixo</h4>
                        </div>
                        <hr />

                        <div class="form-group">
                            <span style="font-weight: bold; font-size: 15px;">Nome Completo</span>
                            <input class="form-control required" name="FullName" placeholder="Nome Completo" />
                        </div>
                        <div class="form-group">
                            <span style="font-weight: bold; font-size: 15px;">CPF</span>
                            <input class="form-control required cpf" name="CPF" placeholder="CPF" />
                        </div>
                        <div class="form-group mt-1">
                            <button class="btn btn-success" type="button" id="service-accept-term-button"><i class="simple-icon-check"></i>&nbsp;Aceitar</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $('#service-accept-term-button').click(function () {
            var r = validateInputs('service-accept-term-form');
            if (!r) return;

            $.post('@Url.Action("AcceptTermValidate", "Service")', $('#service-accept-term-form').serializeArray(), function (d) {
                if (!isNullOrWhiteSpace(d.message)) alert(d.message);

                if (d.success) $('#service-accept-term-form').submit();
            });
        });
    </script>
}