@media (min-width: 992px){
    .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1000px;
    }
}
@media (min-width: 1400px) {
    .modal-xl {
        max-width: 1200px;
    }
}

label.required:after{
    content: '*';
    color: red;
}

tr.dt-rowReorder-moving {
    outline: 2px solid #555;
    outline-offset: -2px;
}

table.dt-rowReorder-float{
    display: none;
}

.uppercase {
    text-transform: uppercase;
}