@model DTO.Account.ResetPasswordViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<AspNetIdentityDbContext.User> userManager

@{
    ViewData["Title"] = "Alterar Senha";
    Layout = "~/Views/Shared/_LayoutClientLogin.cshtml";

    var user = await userManager.FindByEmailAsync(Model.Email);
}

<a href="http://www.destineja.com.br/" target="_blank" class="btn btn-destineja-orange client-login-more-info-button">Saiba Mais</a>

<div id="container-client-login">
    <div class="arrow"></div>
    <form method="post" action="@Url.Action("ResetPassword", "Account")" autocomplete="off" id="reset-password-form">
        <input type="hidden" name="Token" value="@Model.Token" />
        <input type="hidden" name="Email" value="@Model.Email" />

        @if (Context.Request.Query.ContainsKey("error"))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Houve um erro ao redefinir a senha.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="form-group text-center mb-3">
            @if (!user.TemporaryPassword)
            {
                <h3 class="control-label" style=" font-weight: 300; color: black;">Alterar Senha</h3>
            }
            else
            {
                <h5 class="control-label" style=" font-weight: 300; color: black;">A sua senha é provisória, informe uma nova senha:</h5>
            }
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend input-group-icon">
                    <i class="fa fa-lock"></i>
                </div>
                <input name="NewPassword" required type="password" class="form-control" placeholder="Nova Senha" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend input-group-icon">
                    <i class="fa fa-lock"></i>
                </div>
                <input name="NewPassword2" required type="password" class="form-control" placeholder="Confirmação de Nova Senha" />
            </div>
        </div>
        <div class="row mg-t-30">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-custom"><i class="iconsminds-gear"></i>&nbsp;Alterar</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#reset-password-form').submit(function () {
            if ($('#reset-password-form [name="NewPassword"]').val() != $('#reset-password-form [name="NewPassword2"]').val()) {
                alert('A confirmação de senha não coincide com a senha informada.');
                return false;
            }
            return true;
        });
    </script>
}