@{
   
    ViewData["Title"] = "Indicações";
}


<div id="_IndicationIndexViewComponent"></div>

<script type="text/javascript">
    $('#_IndicationIndexViewComponent').load('@Url.Action("IndicationIndexComponent", "Indication")');
</script>