<label class="required">Mês de Referência</label>
<div class="input-group mx-auto" id="month-input-group-filter">
    <input class="form-control month-datepicker required filter-input" data-filter-name="Mês de Referência" data-target="#month-input-group-filter" data-error-message="O mês de referência deve ser preenchido. " placeholder="__/____" autocomplete="off" name="Date" value="@(((DateTime)ViewBag.Date).ToBrazilianDateFormatNoDay())" />
</div>